<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="angularLib/angular.min.js"> </script>
<script>
    var app=angular.module("myapp",[]);

    app.directive("imagedisplay",function()
    {
        var directive={};
        directive.restrict ='E';
        directive.scope={};
        directive.scope.imageurl="=imgurlvalue";
        directive.template=
        directive.replace=true;
    })
app.controller("myAppController",function($scope,$http)
        {
            $scope.empval={};
            $scope.imageurl="http://res.cloudinary.com/whatventwell-herokuapps-com/image/upload/h_400,w_800/";
            $scope.samplevalue="METAIMG$bw4n7zmipiuqmsqbe7ua.jpg";
            $scope.empdata={};
            $scope.addtoMongo=function()
            {
             $scope.userdata=$scope.empdata.empname + " Added Successful";
            }

            $scope.adduser=function()
            {
                $http({
                    url: 'http://localhost:3000/api/posts',
                    method: "POST",
                    data: {myval:'Sample Message by posting'}

                }).success(
                        function(data)
                        {
                            $scope.userdata=data;
                        }

                )
            }
        }
);
</script>
</head>
<body>
<div ng-app="myapp" ng-controller="myAppController">

    <h1>Serving static content by Express</h1>
    EmpName <input type="text" ng-model="empdata.empname"> <br>
    EmpAge  <input type="text" ng-model="empdata.empage"> <br>
    EmpDept <input type="text" ng-model="empdata.empdept"> <br>
    <input type="button" value="Add" ng-click="adduser()">
    <h1>{{userdata}}</h1>
<div ng-switch="samplevalue.substring(0,8)">
    <div ng-switch-when="METAIMG$">
        <img src={{imageurl.concat(samplevalue.substring(8))}} >
    </div>
    <div ng-switch-default>
        <h1>Message</h1>
    </div>
</div>

    <span ng-bind="samplevalue.length"></span>
</div>



</body>
</html>