<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="angularLib/angular.min.js"> </script>
<script>
    var app=angular.module("myapp",[]);
app.controller("myAppController",function($scope,$http)
        {
            $scope.empdata={};
            $scope.addtoMongo=function()
            {
             $scope.userdata=$scope.empdata.empname + " Added Successful";
            }

            $scope.adduser=function()
            {
                $http({
                    url: 'http://localhost:3000/api/posts',
                    method: "POST",
                    data: {myval:'Sample Message by posting'}

                }).success(
                        function(data)
                        {
                            $scope.userdata=data;
                        }

                )
            }
        }
);
</script>
</head>
<body>
<div ng-app="myapp" ng-controller="myAppController">

    <h1>Serving static content by Express</h1>
    EmpName <input type="text" ng-model="empdata.empname"> <br>
    EmpAge  <input type="text" ng-model="empdata.empage"> <br>
    EmpDept <input type="text" ng-model="empdata.empdept"> <br>
    <input type="button" value="Add" ng-click="adduser()">
    <h1>{{userdata}}</h1>
</div>



</body>
</html>