<!DOCTYPE html>
<html lang="en">
<head>
    
<script src="//load.sumome.com/" data-sumo-site-id="7615425dd9360c5b2b7902a8d959e614d8f1cc027b3fea81e0fc71fee5407928" async="async"></script>

    <meta charset="UTF-8">
    <title></title>
    <script src="angularLib/angular.min.js"> </script>
<script>
    var app=angular.module("myapp",[]);

    app.directive("imagedisplay",function()
    {
        var directive={};
        directive.restrict ='E';
        directive.scope={};
        directive.scope.imageurl="=imgurlvalue";
        directive.template=
        directive.replace=true;
    })
app.controller("myAppController",function($scope,$http)
        {
            $scope.empval={};
            $scope.imageurl="http://res.cloudinary.com/whatventwell-herokuapps-com/image/upload/h_400,w_800/";
            $scope.samplevalue="METAIMG$bw4n7zmipiuqmsqbe7ua.jpg";
            $scope.empdata={};
            $scope.samp="Message";
            $scope.empobjarr=[{name:'xxx',dept:'IT'},{name:'yyy',dept:'CS'},{name:'zzz',dept:'EC'}]
            $scope.addtoMongo=function()
            {
             $scope.userdata=$scope.empdata.empname + " Added Successful";
            }

            $scope.adduser=function()
            {
                $http({
                    url: 'http://localhost:3000/api/posts',
                    method: "POST",
                    data: {myval:'Sample Message by posting'}

                }).success(
                        function(data)
                        {
                            $scope.userdata=data;
                        }

                )
            }
        }
);
</script>
</head>
<body>
<div ng-app="myapp" ng-controller="myAppController">

    <h1>Serving static content by Express</h1>
    EmpName <input type="text" ng-model="empdata.empname"> <br>
    EmpAge  <input type="text" ng-model="empdata.empage"> <br>
    EmpDept <input type="text" ng-model="empdata.empdept"> <br>
    <input type="button" value="Add" ng-click="adduser()">
    <h1>{{userdata}}</h1>
<div ng-switch="samplevalue.substring(0,8)">
    <div ng-switch-when="METAIMG$">
        <img src={{imageurl.concat(samplevalue.substring(8))}} >
    </div>
    <div ng-switch-default>
        <h1>Message</h1>
    </div>
</div>

    <div ng-switch="samp">
        <div ng-switch-when="Message">
            <h1>successffull</h1>
        </div>

    </div>
modifiedd
    <table>
    <tr ng-repeat="val in empobjarr" >
    <td>{{val.name}}</td>

<td ng-switch on="val.dept">
    <div ng-switch-when="IT">Information Technology</div>
    <div ng-switch-when="CS">omputer science</div>
    <div ng-switch-when="EC">Electronics communications</div>
</td>


    </tr>
</table>


    <span ng-bind="samplevalue.length"></span>
</div>



</body>
</html>
