<h2>{{messagetitle}}</h2>
<div ng-controller="infoController" ng-init="display()">
    <div class="carousel slide" data-ride="carousel" id="panel-carousel" data-interval="false">

        <ol class="carousel-indicators" ng-repeat="x in thoughtContainer">
            <li ng-class="{active:!$index}" data-target="#panel-carousel" data-slide-to={{$index}} ng-repeat="x in thoughtContainer" ng-click="navigate($index)"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item" ng-class="{active:!$index}" ng-repeat="x in thoughtContainer">
                <div class="panel panel-info">
                    <div class="panel-body" style="max-height: 300px; min-height: 300px;background-color: #d9534f; color: #fff;">

                        <div class="visible-lg visible-md visible-sm">
                            <div class="message">
                                <h3>{{x.messageData}}</h3>
                            </div>
                        </div>

                        <div class="visible-xs">
                            <div class="message">
                                <h4>{{x.messageData}}</h4>
                            </div>
                        </div>
                        <!---->


                    </div>

                </div>

            </div>

            <!--<div class="item">-->
            <!--<div class="panel panel-info">-->
            <!--<div class="panel-body" style="max-height: 300px;min-height: 300px;background-color: red">-->
            <!--<p class="message">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
            <!--</p>-->
            <!--<a href="#" class="btn btn-info btn-lg pull-left">-->
            <!--<span class="glyphicon glyphicon-thumbs-up"></span> Like<br><span>2</span>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->

            <!--  <div class="item">
                  <div class="panel panel-info">
                      <div class="panel-body" style="max-height: 300px;min-height: 300px;background-color: darkorange">
                          <p class="message">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nunc risus, semper a tempus sit amet, volutpat ut mauris.
                          </p>
                      </div>
                  </div>
              </div>-->

            <!-- <div class="item">
                 <div class="panel panel-info">
                     <div class="panel-body" style="max-height: 300px;min-height: 300px;background-color: #b92c28;overflow-y: scroll">
                         <p class="message">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nunc risus, semper a tempus sit amet, volutpat ut mauris. Morbi lacinia leo in dolor lobortis, vitae tempus odio vehicula. Suspendisse sit amet venenatis eros. Aenean placerat ut nibh sed ultrices. Fusce non massa tincidunt, finibus felis at, euismod ex. Ut mollis, erat at vehicula bibendum, sem augue mollis urna, sed porta nulla mi eu leo. Nullam non nisi dignissim, imperdiet libero sit amet, mollis leo.
                         </p>
                     </div>
                 </div>
             </div>-->
        </div>
        <button  id="bootstrapslider1" data-target="#panel-carousel" class="left carousel-control" data-slide="prev" ng-click="displaypositionprev()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>

        <button  id="bootstrapslider2" data-target="#panel-carousel" class="right carousel-control " data-slide="next" ng-click="displaypositionnext()">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <!-- <button data-target="#panel-carousel" class="left carousel-control" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left"></span>
         </button>

         <button data-target="#panel-carousel" class="right carousel-control" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right"></span>
         </button>-->
    </div>

    <buttton id="mybutton" class="btn btn-info btn-lg pull-left visible-lg visible-md visible-sm hidden-xs " ng-click="addLikes()" >
        <span class="glyphicon glyphicon-thumbs-up">&nbsp;<span style="color:white;"><b>Likes</b></span>&nbsp;</span><span class="badge" ng-bind="messageLikes"></span>
    </buttton>

    <h4 class="pull-right visible-lg visible-md visible-sm"><b>Posted Date:<span  ng-bind="messageDate"></span></b></h4>

    <h6 class="visible-xs hidden-lg higgden-sm hidden-md"><b>Posted Date:<span  ng-bind="messageDate"></span></b></h6>

    <buttton class="btn btn-success btn-sm  visible-xs hidden-*" ng-click="addLikes()">
        <span class="glyphicon glyphicon-thumbs-up">&nbsp;<span style="color:white;"><b>Likes</b></span>&nbsp;</span><span class="badge" ng-bind="messageLikes"></span>
    </buttton>
    <!--<div>

        <h2>{{comment}}</h2>

    </div>
-->
    <div class="col-lg-8 visible-lg"><span><h2><b>Comments</b></h2></span> <br> </div>
    <div class="col-md-8 visible-md"><span><h2><b>Comments</b></h2></span> <br> </div>
    <div class="col-sm-8 visible-sm"><span><h3><b>Comments</b></h3></span> <br> </div>
    <div class="col-xs-8 col-xs-offset-2 visible-xs "><span><h4><b>Comments</b></h4></span> <br> </div>

    <div class="col-lg-8 col-lg-offset-2 visible-lg" ng-hide="loading"><h1><i class="fa fa-spinner fa-pulse"></i></h1></div>
    <div class="col-md-8 col-md-offset-2 visible-md" ng-hide="loading"><h1><i class="fa fa-spinner fa-pulse"></i></h1></div>
    <div class="col-sm-8 col-sm-offset-2 visible-sm" ng-hide="loading"><h1><i class="fa fa-spinner fa-pulse"></i></h1></div>
    <div class="col-xs-8 col-xs-offset-2 visible-xs" ng-hide="loading"><h1><i class="fa fa-spinner fa-pulse"></i></h1></div>

    <div class="panel-group col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-4 col-sm-offset-4 visible-lg visible-md visible-sm text-justify">
        <div class="panel panel-primary" ng-repeat="msg in tempcomments">
            <div class="panel-heading">{{msg.from}}</div>
            <div class="panel-body">{{msg.body}}</div>
        </div>
    </div>

    <div class="panel-group  col-xs-12 visible-xs text-justify">
        <div class="panel panel-primary" ng-repeat="msg in tempcomments">
            <div class="panel-heading">{{msg.from}}</div>
            <div class="panel-body">{{msg.body}}</div>
        </div>
    </div>

    <div class="panel-group col-lg-7  col-md-7 col-sm-7 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 visible-lg visible-md visible-sm text-justify">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix"> <input ng-model="name" style="color:black" type="text" id="nameInput" placeholder="enter your name..."></div>
            <div class="panel-body"> <textarea ng-model="msg" id="commentInput" placeholder="enter your Comment..."></textarea></div>
            <div class="panel-footer"><button class="btn btn-success" ng-click="addFireMessage()">Add Comment</button></div>
        </div>
    </div>

    <div class="panel-group col-xs-12 visible-xs text-justify">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix"> <input ng-model="name" style="color:black;width:130px" type="text" id="nameInputt" placeholder="enter your name..."></div>
            <div class="panel-body"> <textarea ng-model="msg" id="commentInputt" placeholder="enter your Comment..."></textarea></div>
            <div class="panel-footer"><button class="btn btn-success" ng-click="addFireMessage()">Add Comment</button></div>
        </div>
    </div>

    <!--<div class="example-chat-toolbar">
        <label for="nameInput">Username:</label>
        <input ng-model="name" type="text" id="nameInput" placeholder="enter a username..."> <br>
        <label for="nameInput">Comment:</label>

    </div>-->
    <br>

    <!--
            <footer>

                &lt;!&ndash;<input ng-model="msg" ng-keydown="addFireMessage($event)" type="text" id="messageInput"  placeholder="Type a message...">&ndash;&gt;
            </footer>-->
    <!--<h1>asfafdg</h1>-->

    <!--<h1><i class="fa fa-cog fa-spin"></i></h1>-->

</div>

             <!-- $scope.wwwdata[0]F Data::METAIMG$yyufgrxapehyprpm033f.jpg
myapp.js:1694 $scope.wwwdata[1]T Data::Latest thought for the Day in this app
myapp.js:1694 $scope.wwwdata[2]N Data::Latest news for the Day in this app
myapp.js:1694 $scope.wwwdata[3]I Data::Latest info for the Day in this app
myapp.js:1694 $scope.wwwdata[4]M Data::Latest Message for the Day in this app
myapp.js:1694 $scope.wwwdata[5]T Data::Sample thought for today
myapp.js:1694 $scope.wwwdata[6]N Data::Sample news for today
myapp.js:1694 $scope.wwwdata[7]F Data::METAIMG$e9swndolachuz9vmqyrn.jpg
myapp.js:1694 $scope.wwwdata[8]I Data::Sample info for today
myapp.js:1694 $scope.wwwdata[9]M Data::Sample Message for today
myapp.js:1694 $scope.wwwdata[10]T Data::Lastest thought for this app
myapp.js:1694 $scope.wwwdata[11]N Data::Lastest news for this app
myapp.js:1694 $scope.wwwdata[12]F Data::METAIMG$verimpk16srbjxzqlnp3.jpg
myapp.js:1694 $scope.wwwdata[13]I Data::Lastest info for this app
myapp.js:1694 $scope.wwwdata[14]M Data::Lastest message for this app
myapp.js:1694 $scope.wwwdata[15]N Data::“land of Nod“
a state of sleep. (Humorous.. From the fact that people sometimes nod when they are falling asleep)
Usage (Eg):
Look at the clock! It's time we were all in the land of Nod.
myapp.js:1694 $scope.wwwdata[16]M Data::Perry Watkins has built the lowest street legal car measuring just 19 inches off the ground, called the 'Flatmobile'
myapp.js:1694 $scope.wwwdata[17]I Data::Tesla Unveils Autopilot System, but Don't Let Go of the Wheel:
Autopilot has a smart cruise control that manages speed and distance between the Tesla and other cars on the road. It has an auto-steering and Auto Lane Change feature, which is enabled when the driver
flicks the indicator switch and turn signal.
myapp.js:1694 $scope.wwwdata[18]F Data::METAIMG$xkurmm6eeagpwgvm1en6.jpg
myapp.js:1694 $scope.wwwdata[19]T Data::Don't be afraid to start over. It's a chance to build something better this time.
myapp.js:1694 $scope.wwwdata[20]I Data::Tab silence: Google Chrome now lets Users Mute Individual Browser Tabs:The latest version of Google Chrome — version 46 — lets you mute individual tabs by simply right-clicking on the tab and   selecting mute tab from the drop down menu. The company has been testing the feature for about a year, but it's now available for all users.
myapp.js:1694 $scope.wwwdata[21]N Data::First cars used a lever instead of a steering wheel. It had a design and functioned like a joy stick.
myapp.js:1694 $scope.wwwdata[22]F Data::METAIMG$eivvnkbvrz8199wvfg8m.jpg
myapp.js:1694 $scope.wwwdata[23]M Data::“get a handle on “
To acquire an understanding or knowledge of:
To find a way to understand a situation in order to control it
myapp.js:1694 $scope.wwwdata[24]T Data::If you wait to do everything until you’re sure it’s right, you’ll probably never do much of anything
myapp.js:1694 $scope.wwwdata[25]T Data::Latest thought in www
myapp.js:1694 $scope.wwwdata[26]N Data::Latest news in www
myapp.js:1694 $scope.wwwdata[27]F Data::METAIMG$fl292r1os89ylqloqhub.jpg
myapp.js:1694 $scope.wwwdata[28]I Data::Latest info in www
myapp.js:1694 $scope.wwwdata[29]M Data::Latest message in www
myapp.js:1694 $scope.wwwdata[30]T Data::Thought for the day from mobile
myapp.js:1694 $scope.wwwdata[31]N Data::News for the day from mobile
myapp.js:1694 $scope.wwwdata[32]F Data::METAIMG$cqknciihhufnwxqkpdos.jpg
myapp.js:1694 $scope.wwwdata[33]I Data::Info for the day from mobile
myapp.js:1694 $scope.wwwdata[34]M Data::Message for the from mobile
myapp.js:1694 $scope.wwwdata[35]T Data::Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent turpis lacus, dapibus id condimentum vel, molestie in turpis. Etiam mattis cursus ornare. Suspendisse non augue vitae ex rutrum posuere rhoncus in orci. Vestibulum eu sapien id neque faucibus imperdiet et quis elit.
myapp.js:1694 $scope.wwwdata[36]F Data::METAIMG$qznn6ibfan9ysjdsxdva.jpg
myapp.js:1694 $scope.wwwdata[37]N Data::Sed in consequat orci, blandit sagittis augue. Ut rutrum tincidunt enim, a egestas dolor ullamcorper id.
myapp.js:1694 $scope.wwwdata[38]I Data::Suspendisse non augue vitae ex rutrum posuere rhoncus in orci. Vestibulum eu sapien id neque faucibus imperdiet et quis elit.
myapp.js:1694 $scope.wwwdata[39]M Data::Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent turpis lacus, dapibus id condimentum vel, molestie in turpis. Etiam mattis cursus ornare.
myapp.js:1694 $scope.wwwdata[40]F Data::METAIMG$wzc3h6fnnk2mrtoldkcw.jpg
myapp.js:1694 $scope.wwwdata[41]T Data::dapibus id condimentum vel, molestie in turpis. Etiam mattis cursus ornare. Suspendisse non augue vitae ex rutrum posuere rhoncus in orci. Vestibulum eu sapien id neque faucibus imperdiet et quis elit.
myapp.js:1694 $scope.wwwdata[42]N Data::consectetur adipiscing elit. Praesent turpis lacus, dapibus id condimentum vel, molestie in turpis. Etiam mattis cursus ornare.
myapp.js:1694 $scope.wwwdata[43]M Data::Ut mauris enim, lobortis quis lectus nec, facilisis efficitur velit. Proin malesuada elit sed lectus fermentum porta. In dolor magna,
myapp.js:1694 $scope.wwwdata[44]I Data::Suspendisse non augue vitae ex rutrum posuere rhoncus in orci. Vestibulum eu sapien id neque faucibus imperdiet et quis elit.
myapp.js:1746 datareceivedd::45
myapp.js:1747 wwwobj::4-->